body {
  background: #fffffe;
  font-family:"Times New Roman", Times, serif;
}

h1 {
  color: black;
  text-align: center;
  font-family:"Times New Roman", Times, serif;
}

.about {
  background: #ffffff;
}

.skills {
  background: #4e4b35;
}

.projects {
  background: #956638;
}

.contact {
  background: #231609;
}

.projects{display:flex; flex-wrap: wrap;}
.project{
  width: 30%;
  margin: 10px;
  padding:20px 10px;
  background: white;
  border-radius: 25%;
}