body {
 background: #ccb93e;
 font-family:"Times New Roman", Times, serif;
 }
 h1 {
 color: [black];
 text-align: center;
 font-family:"Times New Roman", Times, serif;
 }
.about {
    background: #ffffff;
 }
 .skills {
    background: #ee0505;
 }
 .projects {
    background: #956638;
 }
 .contact {
    background: #c40c0c;
 }